<div class="row">
    <button mat-flat-button color="primary" class="col-2 mx-auto create-button" (click)="createWidget()">Add new widget</button>
</div>
<mat-table [dataSource]="widgetTemplatesDataSource">
    <ng-container matColumnDef="Description">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let element" class="row-cell"> {{ element.description }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Type" >
        <mat-header-cell *matHeaderCellDef > Type </mat-header-cell>
        <mat-cell *matCellDef="let element" class="row-cell"> {{ element.type }} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedWidgets"></mat-header-row>
    <mat-row (click)="openWidget(row)" *matRowDef="let row; columns: displayedWidgets"></mat-row>
</mat-table>

