<div class="name-input">
  <form *ngIf="!appComponent.readOnly">
    <mat-form-field>
      <input matInput placeholder="Name" [(value)]="dashboardName" [(ngModel)]="dashboardName" name="dashboardName">
    </mat-form-field>
  </form>
</div>
<div class="dashboard-button">
  <button *ngIf="!appComponent.readOnly" mat-flat-button color="primary" [matMenuTriggerFor]="widgetsMenu">Add widgets</button>
</div>
<gridster [options]="options">
  <gridster-item [item]="widget" *ngFor="let widget of dashboard.widgets">
    <app-alert-widget *ngIf="widget.template.type === 'alert'" [widget]="widget"></app-alert-widget>
  </gridster-item>
</gridster>
<div class="dashboard-button">
  <button *ngIf="!appComponent.readOnly" mat-flat-button color="primary" (click)="saveDashboard(dashboard)">save</button>
</div>

<mat-menu #widgetsMenu="matMenu">
  <button mat-menu-item *ngFor="let w of widgets" (click)="addWidget(w)">{{w.description}}</button>
</mat-menu>