<div class="name-input">
  <form *ngIf="!appComponent.readOnly">
    <mat-form-field>
      <input matInput placeholder="Name" [(value)]="dashboardName" [(ngModel)]="dashboardName" name="dashboardName">
    </mat-form-field>
    <button *ngIf="!appComponent.readOnly" mat-flat-button color="primary" 
      [matMenuTriggerFor]="widgetsMenu" class="add-button">Add widgets
    </button>
  </form>
</div>
<div class="grid-container">
  <gridster *ngIf="dataIsAvailable" [options]="options">
    <gridster-item [item]="widget" *ngFor="let widget of dashboard.widgets">
      <div *ngIf="!appComponent.readOnly" class="row">
        <div class="mx-auto">
          <button mat-mini-fab color="warn" (mousedown)="deleteWidget($event, widget)"
            (touchstart)="deleteWidget($event, widget)" class="delete-button">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <app-alert-widget *ngIf="widget.template.type === 'alert'" [widget]="widget"></app-alert-widget>
      <app-button-widget *ngIf="widget.template.type === 'button'" [widget]="widget"></app-button-widget>
      <app-chart-widget *ngIf="widget.template.type === 'chart'" [widget]="widget"></app-chart-widget>
      <app-slider-widget *ngIf="widget.template.type === 'slider'" [widget]="widget"></app-slider-widget>
      <app-switch-widget *ngIf="widget.template.type === 'switch'" [widget]="widget"></app-switch-widget>
    </gridster-item>
  </gridster>
</div>
<div class="save-button">
  <button *ngIf="!appComponent.readOnly" 
    mat-flat-button color="primary" (click)="saveDashboard(dashboard)" >save</button>
</div>
<div>
<mat-menu #widgetsMenu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="alerts">Alerts</button>
  <button mat-menu-item [matMenuTriggerFor]="buttons">Buttons</button>
  <button mat-menu-item [matMenuTriggerFor]="charts">Charts</button>
  <button mat-menu-item [matMenuTriggerFor]="sliders">Sliders</button>
  <button mat-menu-item [matMenuTriggerFor]="switches">Switches</button>
</mat-menu>

<mat-menu #alerts="matMenu">
  <button mat-menu-item *ngFor="let w of templates.get('alert')" (click)="addWidget(w)">{{w.description}}</button>
</mat-menu>

<mat-menu #buttons="matMenu">
  <button mat-menu-item *ngFor="let w of templates.get('button')" (click)="addWidget(w)">{{w.description}}</button>
</mat-menu>

<mat-menu #charts="matMenu">
  <button mat-menu-item *ngFor="let w of templates.get('chart')" (click)="addWidget(w)">{{w.description}}</button>
</mat-menu>

<mat-menu #sliders="matMenu">
  <button   mat-menu-item *ngFor="let w of templates.get('slider')" (click)="addWidget(w)">{{w.description}}</button >
</mat-menu>

<mat-menu #switches="matMenu">
  <button mat-menu-item *ngFor="let w of templates.get('switch')" (click)="addWidget(w)">{{w.description}}</button>
</mat-menu>