.container {
  background-color: #003f5c;
  height: 100%;
}

.switch {
  width: 25%;
  margin: auto;
}

p:first-child {
  text-align: center;
  color: white;
  background-color: #003f5c !important;
}
