.ok {
  background-color: #388e3c;
}
.warning {
  background-color: #fbc02d;
}
.critical {
  background-color: #d32f2f;
}

.container {
  height: 100%;
}

.alert {
  height: 80%;
  border-radius: 10px;
  margin-top: 6px;
}

.level {
  color: white;
  font-size: 20px;
}

.value {
  margin-top: 50px;
  color: white;
  font-size: 36px;
}

.container {
  background-color: #003f5c !important;
}

.container > :first-child {
  background-color: #003f5c !important;
}

.container > p:first-child {
  color: white;
  text-align: center;
}
