<ng-container>
  <mat-toolbar color="primary">
    <div class="title">
      <span>{{title}}</span>
    </div>
    <button mat-icon-button *ngIf="moreIconVisible" [matMenuTriggerFor]="moreMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <button mat-icon-button *ngIf="editIconVisible" [matMenuTriggerFor]="editMenu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #editMenu="matMenu">
      <button mat-menu-item (click)="setButtonClicked('editDashboard')">Edit</button>
      <button mat-menu-item (click)="setButtonClicked('deleteDashboard')">Delete</button>
    </mat-menu> 
    <mat-menu #moreMenu="matMenu">
      <button mat-menu-item (click)="setButtonClicked('createDashboard')">Add dashboard</button>
    </mat-menu>

  </mat-toolbar>
</ng-container>

<router-outlet></router-outlet>
