<h1>Login</h1>

<div class='form-container'>
    <form #loginForm='ngForm' class='login-form'>
        <div class='form-group'>
            <input matInput class='form-control' placeholder='Username' name='username' ngModel>
        </div>
        <div class=form-group>
            <input matInput type='password' class='form-control' placeholder='Password' name='password' ngModel>
        </div>
        <div class='login-button-container'><button mat-flat-button color="primary" (click)='login(loginForm.value)'>Login</button> 
            <div class='register'>
                <a routerLink='/register'>Create an account</a>
            </div>
        </div>
    </form>
</div>
