<div class="container">
  <div class="row">
    <mat-card class="col-4 mx-auto">
      <div class="row">
        <mat-card-header class="mx-auto">
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>
      </div>
      <mat-card-content>
        <form #loginForm="ngForm">
          <div class="row">
            <mat-form-field class="col-10 mx-auto">
              <input matInput placeholder="Username" name="username" ngModel/>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col-10 mx-auto">
              <input matInput type="password" placeholder="Password" name="password" ngModel/>
            </mat-form-field>
          </div>
          <div class="row login-button">
            <button mat-flat-button color="primary" class="col-9 mx-auto" (click)="login(loginForm.value)">
              Login
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
