h1 {
  margin-top: 50px;
  text-align: center;
}

.form-container {
  width: 50%;
  margin: auto;
  border: solid #f7f7f9;
}

.login-form {
  padding: 20px 20px 20px 20px;
}

.login-button-container {
  text-align: center;
}

.login-button-container .btn {
  width: 100%;
}

.register{
  margin-top: 20px;
}
