.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.container {
  margin-top: 20px;
}

.buttons-container {
  margin-top: 20px;
  width: 90%;
  margin: auto;
}

.mat-form-field {
  margin-top: 15px;
  margin-bottom: 15px;
}
